<div class="card">
	<div class="card-body">
		<div class="card-title">
			<h2><%=@trabajo.titulo %></h2>
		
		</div>
		<div class="card-text">
			<p><%= @trabajo.descripcion %></p>
		</div>
	</div>
</div>